.login_form{
  max-width: 360px;
  margin: 6vh auto;
  padding: 20px;
  
  border: 1px solid #dbdbdb;
  background-color: white;
}
.login_form fieldset{
  border: 0px;
  padding: 20px;
}
.login_form legend{
  text-align: center;
}
.login_form legend img{
  width: 18vh;
}

.login_form label{ /*이메일 비밀번호 */
  display: block;
  margin: 15px 0;
  font-weight: 100;
}
.login_form input{
  display: block;
  width: 100%;

  box-sizing: border-box; /*인풋 자체의 패딩값이 인풋의 넓이 값처럼 취급되어서 박스사이징 처리*/
  padding: 8px 6px;

  color: #777;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  background-color: #fafafa;
}

.login_form .btn{
  margin-top: 60px;
  padding: 8px;
  width: 100%;

  border: 0px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  background-color: #f19865;

  cursor: pointer;
}
.login_form .isPendingBtn{
  margin-top: 60px;
  padding: 8px;
  width: 100%;

  border: 0px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  background-color: #fdd6c0;

  cursor: pointer;
}

.login_form i{
  font-size: 0.8rem;
  color: red;
}